<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dzs.ezpay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 权限 :  GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 权限 : AGPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity
            android:name=".view.activity.RegistActivity"
            android:label="@string/title_activity_regist" />
        <activity android:name=".view.activity.H5Activity" />
        <activity android:name=".view.activity.FindPwdActivity" />
        <!-- 加载页 -->
        <activity android:name=".view.activity.LanuchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.FirstGuideActivity" />
        <activity android:name=".view.activity.GoldDataListActivity" />
        <activity android:name=".view.activity.SharesActivity" />
        <activity android:name=".view.activity.SharesListActivity" />
        <activity android:name=".view.activity.SharesDetailActivity" />
        <activity android:name=".view.activity.FundationListActivity" />
        <activity android:name=".view.activity.HuoBiActivity"></activity>
    </application>

</manifest>